@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;


*, *::before, *::after{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextLTPro';


}
.header{
    background-color: $primary-color-black;

  }

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    &__logo{
        height: 1.25rem;
        width: 7.5rem;
        margin: 1rem;

        @include tablet {
            height: 1.25rem;
            width: 7.5rem;
            margin: 2.25rem; 
        }

    }
    &__list{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        width: 100vw;
        text-decoration: none;
        list-style-type: none;

        @include tablet {
            display: flex;
            margin: 0;
            padding: 0;
            width: 30vw;
        }

    }

    &__item{
        font-weight: 400;
        list-style-type: none;
        width: 50%;
        text-align: center;
        padding: .7rem;
        text-decoration: none;
        list-style-type: none;

        @include tablet {
            margin: 2.25rem;
            padding: 0;
        }

            
        }
        
       &__link{
        color: $secondary-color-mercury;
        text-decoration: none;
        list-style-type: none;


        &--active{
            @extend .nav__item;
            border-bottom: .1rem solid $primary-color-white;
            padding-bottom: .7rem;
            @include tablet{
                @extend .nav__item;
            border-bottom: .1rem solid $primary-color-white;
            padding-bottom: 2.25rem;
            font-weight: 600;
            }
            

        }

    } 
}

    
