@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;


*, *::before, *::after{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextLTPro';


}
.header{
    background-color: $primary-color-black;

  }

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    &__logo{
        height: 1.25rem;
        width: 7.5rem;
        margin: 1rem;

        @include tablet {
            height: 1.25rem;
            width: 7.5rem;
            margin: 2.25rem; 
        }

    }
    &__list{
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        width: 100vw;
        text-decoration: none;
        list-style-type: none;

        @include tablet {
            display: flex;
            margin: 0;
            padding: 0;
            width: 30vw;
        }

    }

    &__item{
        font-weight: 400;
        list-style-type: none;
        width: 100vw;
        text-align: center;
        padding: .8rem;
        text-decoration: none;
        list-style-type: none;


        @include tablet {
            margin: 2.25rem;
            padding: 0;

            }
 
        }
        
       &__link{
        color: $secondary-color-mercury;
        text-decoration: none;
        list-style-type: none;

        &--active{
            @extend .nav__item;
            border-bottom: .2rem solid $primary-color-white;
            padding-bottom: .7rem;
            font-weight: 600;

            @include tablet{
                @extend .nav__item;
            border-bottom: .2rem solid $primary-color-white;
            padding-bottom: 2.25rem;
            font-weight: 600;
            }

        }

    } 
}

.footer{
    background-color: $primary-color-black;
    color: $primary-color-white;
    padding: 1rem;
    font-family: 'AvenirNextLTPro';

    @include tablet {
        position: relative;
    }


    &__social{
        display: flex;
        flex-direction: column;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            gap: 2rem;
            
        }
    }

    &__title{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        padding: 1.5rem 0 1rem 0;

        @include tablet {
            display: none;
        }
    }

    &__box{
        display: flex;
        gap: 2rem;
        padding-bottom: 1rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 2rem;
        }

    }

    &__boxtitle{
        display: none;

        @include tablet {
            display: flex;
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
        }
    }

    &__icons{
        width: 1.5rem;
        height: 1.5rem;
    }

    &__bandlogo{
        display: none;

        @include tablet {
            display: flex;
            padding-right: 3rem;

        }
    }

    &__contact{

        @include tablet {
            display: flex;
            gap: 1.8rem;
        }
    }

    &__management{
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__artist{
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__entertainment{
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__name{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 600;
        padding-bottom: 1rem;

    }

    &__address{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__email{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__booking{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__logoimage{

        @include tablet {
            display: none;
            // position: sticky;
            // bottom: 21.7rem;
            // left: 49.5rem;
            // width: 7.5rem;
            // height: 1.25rem;
        }
    }

    &__logo{
        width: 7.5rem;
        height: 1.25rem;

        @include tablet {
            width: 7.5rem;
            height: 1.25rem;
            }

    }

    &__copyright{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
    }
}
    
