@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;


*, *::before, *::after{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextLTPro';


}
.header{
    background-color: $primary-color-black;

  }

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

    &__logo{
        height: 1.25rem;
        width: 7.5rem;
        margin: 1rem;

        @include tablet {
            height: 1.25rem;
            width: 7.5rem;
            margin: 2.25rem; 
        }

    }
    &__list{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        width: 100vw;
        text-decoration: none;
        list-style-type: none;

        @include tablet {
            display: flex;
            margin: 0;
            padding: 0;
            width: 30vw;
        }

    }

    &__item{
        font-weight: 400;
        list-style-type: none;
        width: 50%;
        text-align: center;
        padding: .7rem;
        text-decoration: none;
        list-style-type: none;

        @include tablet {
            margin: 2.25rem;
            padding: 0;
            }

            
        }
        
       &__link{
        color: $secondary-color-mercury;
        text-decoration: none;
        list-style-type: none;

        &--active{
            @extend .nav__item;
            border-bottom: .1rem solid $primary-color-white;
            padding-bottom: .7rem;

            @include tablet{
                @extend .nav__item;
            border-bottom: .2rem solid $primary-color-white;
            padding-bottom: 2.25rem;
            font-weight: 600;
            }

        }

    } 
}

.footer{
    background-color: $primary-color-black;
    color: $primary-color-white;
    padding: 1rem;
    font-family: 'AvenirNextLTPro';


    &__social{
        display: flex;
        flex-direction: column;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 2rem;
        }
    }

    &__title{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        padding: 1.5rem 0 1rem 0;
    }

    &__box{
        display: flex;
        gap: 2rem;
        padding-bottom: 1rem;

    }

    &__contact{

        @include tablet {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &__box1{
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__box2{
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__box3{
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }


    &__icons{
        width: 1.5rem;
        height: 1.5rem;
    }

    &__name{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 600;
        padding-bottom: 1rem;

        &--adjust{

            @include tablet {
                
            }
        }
    }

    &__address{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__email{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__booking{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__logoimage{

        @include tablet {
        position: relative;
        top: -19.3rem;
        left: 47.5rem;
        }
    }

    &__logo{
        width: 7.5rem;
        height: 1.25rem;

        @include tablet {

        }

    }

    &__copyright{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
    }
}
    
