$tablet-breakpoint: 768px; //48rem
$desktop-breakpoint: 1280px; //80rem

$primary-color-black: #323232;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;

$secondary-color-darkblack: #000000;
$secondary-color-mercury: #E1E1E1;
$secondary-color-alabaster: #FAFAFA;






