@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'AvenirNextLTPro', sans-serif;


}
.header{
    background-color: $primary-color-black;

  }

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        gap: 1rem;
        padding-left: 1rem;
    }

    @include desktop {
        margin-right: 5rem;
    }

    &__logo{
        height: 1.25rem;
        width: 7.5rem;
        margin: 1rem;

        @include tablet {
            margin: 2.25rem; 
        }

        @include desktop {
            margin: 2.25rem 2.25rem 2.25rem 5rem;
        }

    }

    &__list{
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        width: 100vw;
        text-decoration: none;
        list-style-type: none;

        @include tablet {
            width: 19vw;
            gap: 2rem;
        }

        @include desktop {
            width: 21vw;
            gap: 4rem;
        }

    }

    &__item{
        font-weight: 400;
        list-style-type: none;
        width: 100vw;
        text-align: center;
        padding: .8rem;
        text-decoration: none;
        list-style-type: none;
        color: $primary-color-white;


        @include tablet {
            padding: 2.25rem 0 2.25rem 0;
            display: flex;
            justify-content: space-evenly;
            }
        

        &--active{

            border-bottom: .2rem solid $primary-color-white;
            padding-bottom: .7rem;
            font-weight: 600;
            color: $primary-color-white;
    
            @include tablet{
            padding-bottom: 1.25rem;

            }
    
            @include desktop{
            padding-bottom: 2.25rem;

            }
    
        }
 
    }

        
       &__link{
        color: $primary-color-white;
        text-decoration: none;
        list-style-type: none;
        
    } 

}

.footer{
    background-color: $primary-color-black;
    color: $primary-color-white;
    padding: 1rem;

    @include tablet {
        position: relative;
    }

    @include desktop {
        padding: 2.25rem 2.25rem 2.25rem 5rem;

        
    }


    &__social{
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            gap: 2rem;
            
        }

    }

    &__title{
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 600;
        padding: 1.5rem 0 1rem 0;

        @include tablet {
            display: none;
        }

    }

    &__box{
        display: flex;
        gap: 2rem;
        padding-bottom: 1rem;

        @include tablet {
            flex-direction: row;
            align-items: baseline;
        }

    }

    &__boxtitle{
        display: none;

        @include tablet {
            display: flex;
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
        }

    }

    &__icons{
        width: 1.5rem;
        height: 1.5rem;

    }

    &__bandlogo{
        display: none;

        @include tablet {
            display: flex;
            padding-right: 3rem;

        }

    }

    &__contact{

        @include tablet {
            display: flex;
            gap: 1.8rem;
        }


    }

    &__container{
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }

    }

    &__name{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 600;
        padding-bottom: 1rem;

    }

    &__address{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__email{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    &__booking{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }


    &__logo{
        width: 7.5rem;
        height: 1.25rem;

        @include tablet {
            display: none;
        }


    }

    &__copyright{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
    }
}
    
