@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../assets/Font/AvenirNextLTPro-Regular.woff') format('woff');
    src: url('../assets/Font/AvenirNextLTPro-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../assets/Font/AvenirNextLTPro-Demi.woff') format('woff');
    src: url('../assets/Font/AvenirNextLTPro-Demi.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../assets/Font/AvenirNextLTPro-Bold.woff') format('woff');
    src: url('../assets/Font/AvenirNextLTPro-Bold.woff2') format('woff2');
    font-weight: 700;
}