@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro", sans-serif;
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    margin-right: 5rem;
  }
}
.nav__logo {
  height: 1.25rem;
  width: 7.5rem;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    margin: 2.25rem 2.25rem 2.25rem 5rem;
  }
}
.nav__list {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100vw;
  text-decoration: none;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 19vw;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    width: 21vw;
    gap: 4rem;
  }
}
.nav__item {
  font-weight: 400;
  list-style-type: none;
  width: 100vw;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__item {
    padding: 2.25rem 0 2.25rem 0;
    display: flex;
    justify-content: space-evenly;
  }
}
.nav__item--active {
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.7rem;
  font-weight: 600;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__item--active {
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__item--active {
    padding-bottom: 2.25rem;
  }
}
.nav__link {
  color: #FFFFFF;
  text-decoration: none;
  list-style-type: none;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    position: relative;
    padding: 2.25rem 2.25rem 2.25rem 5rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__social {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
  }
}
.footer__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: none;
  }
}
.footer__box {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__boxtitle {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__boxtitle {
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.footer__icons {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__bandlogo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__bandlogo {
    display: flex;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    gap: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}
.footer__name {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer__address {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__email {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__booking {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logoimage {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logoimage {
    display: none;
  }
}
.footer__logo {
  width: 7.5rem;
  height: 1.25rem;
}
.footer__copyright {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 18rem;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .hero {
    height: 50rem;
  }
}
.hero__title {
  color: #FFFFFF;
  font-weight: 600;
  padding-left: 1rem;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.25rem;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 3.25rem;
    padding-left: 5rem;
  }
}
.hero__overlay {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 18rem;
  background-color: #323232;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    height: 50rem;
  }
}

.bio {
  margin: 1rem;
}
@media screen and (min-width: 1280px) {
  .bio {
    margin: 5rem;
  }
}
.bio__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .bio__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
  }
}
.bio__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bio__image {
    padding: 0 2.25rem 0 2.25rem;
  }
}
.bio__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio__quote {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__quote {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.bio__subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 3rem 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.bio__story {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .bio__story {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 3rem 2.25rem 1rem 2.25rem;
    -moz-columns: 2;
         columns: 2;
  }
}
@media screen and (min-width: 1280px) {
  .bio__story {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.5rem 0 0 1rem;
  font-weight: 600;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    padding: 3rem 2.25rem 1rem 2.25rem;
  }
}
.gallery__box {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__box {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__box {
    padding: 2.25rem 2.25rem 2.25rem 5rem;
  }
}
.gallery__item {
  width: 100%;
  padding: 1rem;
  filter: grayscale(1);
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 33%;
    padding: 0.8rem;
  }
}
.gallery__item--link:hover {
  filter: grayscale(0);
}

.form {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.form__title {
  font-size: 2rem;
  padding: 1.5rem 0 1rem 1rem;
  font-weight: 600;
  margin: 0;
}
.form__container {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  padding: 1.5rem 0 1rem 1rem;
}
.form__image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 1rem;
  left: 0.7rem;
}
.form__box {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form__label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #AFAFAF;
}
.form__text {
  font-family: "AvenirNextLTPro", sans-serif;
  height: 2.25rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  margin: 0.25rem 0 2.25rem 0;
  border-radius: 4px;
}
.form__message {
  font-family: "AvenirNextLTPro", sans-serif;
  height: 8rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
}
.form__error {
  border: 1px solid #D22D2D;
}
.form__button {
  font-size: 1rem;
  padding: 0.75rem;
  background-color: #323232;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  text-decoration: none;
  height: 2.5rem;
  color: #FFFFFF;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form__button {
    width: 9.375rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
  }
}
.form__button--link:hover {
  background-color: #000000;
}

.comments {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding: 1.5rem 0 1rem 1rem;
  margin-right: 2.5rem;
}
@media screen and (min-width: 768px) {
  .comments {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    margin-left: auto;
    margin-right: auto;
  }
}
.comments__container {
  width: 100%;
  padding: 1.5rem 0 1rem 1rem;
}
.comments__box {
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
}
.comments__avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  float: left;
  position: relative;
  top: 0.5rem;
  left: -0.5rem;
  background-color: #E1E1E1;
}
.comments__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.comments__title {
  font-size: 1rem;
  font-weight: 600;
  color: #323232;
}
.comments__date {
  font-size: 1rem;
  font-weight: 400;
  color: #AFAFAF;
}
.comments__text {
  font-size: 1rem;
  font-weight: 400;
  color: #323232;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
}/*# sourceMappingURL=bio.css.map */