@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro";
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}
.nav__logo {
  height: 1.25rem;
  width: 7.5rem;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    height: 1.25rem;
    width: 7.5rem;
    margin: 2.25rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100vw;
  text-decoration: none;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 30vw;
  }
}
.nav__item, .nav__link--active {
  font-weight: 400;
  list-style-type: none;
  width: 50%;
  text-align: center;
  padding: 0.7rem;
  text-decoration: none;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav__item, .nav__link--active {
    margin: 2.25rem;
    padding: 0;
  }
}
.nav__link {
  color: #E1E1E1;
  text-decoration: none;
  list-style-type: none;
}
.nav__link--active {
  border-bottom: 0.1rem solid #FFFFFF;
  padding-bottom: 0.7rem;
}
@media screen and (min-width: 768px) {
  .nav__link--active {
    border-bottom: 0.2rem solid #FFFFFF;
    padding-bottom: 2.25rem;
    font-weight: 600;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
  font-family: "AvenirNextLTPro";
}
.footer__social {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2rem;
  }
}
.footer__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1.5rem 0 1rem 0;
}
.footer__box {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .footer__box1 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__box2 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__box3 {
    display: flex;
    flex-direction: column;
  }
}
.footer__icons {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__name {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer__address {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__email {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__booking {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logoimage {
    position: relative;
    top: -19.3rem;
    left: 37.5rem;
  }
}
.footer__logo {
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 7.5rem;
    height: 1.25rem;
  }
}
.footer__copyright {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 18rem;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    background-image: url(../assets/Images/hero-bio.jpg);
    height: 30rem;
    background-size: cover;
    background-position: center;
  }
}
.hero__title {
  color: #FFFFFF;
  font-weight: 600;
  padding-left: 1rem;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .hero__title {
    color: #FFFFFF;
    font-size: 3.25rem;
    padding-left: 2rem;
    font-weight: 600;
    z-index: 999;
  }
}
.hero__overlay {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 18rem;
  background-color: #323232;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 30rem;
    background-color: #323232;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }
}

.bio {
  margin: 1rem;
}
.bio__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bio__title {
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    font-weight: 600;
  }
}
.bio__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bio__image {
    width: 100%;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.bio__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio__quote {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.bio__subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.bio__story {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .bio__story {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 0 2.25rem 1rem 2.25rem;
    -moz-columns: 2;
         columns: 2;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    font-weight: 600;
    padding: 3rem 2.25rem 1rem 2.25rem;
  }
}
.gallery__box {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__box {
    display: flex;
    flex-wrap: wrap;
  }
}
.gallery__item {
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 33%;
    padding: 0 2.25rem 1rem 2.25rem;
    padding: 0.8rem;
  }
}/*# sourceMappingURL=bio.css.map */