@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

.hero {
    display: flex;
    align-items: center;
    background-image: url(../assets/Images/hero-bio.jpg);
    height: 18rem;
    background-size: cover;
    background-position: center;

    @include tablet {
        height: 30rem;

        @include desktop {
            height: 50rem;

        }

    }

    &__title {
        color: $primary-color-white;
        font-weight: 600;
        padding-left: 1rem;
        z-index: 999;

        @include tablet {
            font-size: 3.25rem;
            padding-left: 3rem;

        }

        @include desktop {
            padding-left: 5rem;

        }
    }

    &__overlay {
        position: absolute;
        padding: 0;
        width: 100%;
        height: 18rem;
        background-color: $primary-color-black;
        background-size: cover;
        background-position: center;
        opacity: .5;

        @include tablet {
            height: 30rem;

        }

        @include desktop {
            height: 50rem;

        }
    }
}

.bio {
    margin: 1rem;

    @include desktop {
        margin: 5rem;
    }

    &__title {
        color: $primary-color-black;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        padding: 1.5rem 0 1rem 0;

        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-top: 3rem;
        }


    }

    &__image {
        width: 100%;

        @include tablet {
            padding: 0 2.25rem 0 2.25rem;
        }

    }

    &__quote {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-bottom: 1rem;

        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding: 3rem 2.25rem 0 2.25rem;
        }
// 
    }

    &__subtitle {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-bottom: 1rem;

        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
            padding: 3rem 2.25rem 0 2.25rem;

        }

    }

    &__story {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 400;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding: 3rem 2.25rem 1rem 2.25rem;
            columns: 2;
        }

        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;

        }
    }
}

.gallery {
    background-color: $secondary-color-alabaster;

    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1.5rem 0 0 1rem;
        font-weight: 600;
        margin: 0;

        @include tablet {
            font-size: 2.25rem;
            padding: 3rem 2.25rem 1rem 2.25rem;
        }

    }

    &__box {
        margin: 0;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }

        @include desktop {
            padding: 2.25rem 2.25rem 2.25rem 5rem;

        }
    }

    &__item {
        width: 100%;
        padding: 1rem;
        filter: grayscale(1);

        @include tablet {
            width: 33%;
            padding: .8rem;

        }


        &--link:hover {
            filter: grayscale(0);
        }

    }


}

.form {
    padding: 1rem;

    @include tablet{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    @include desktop{
        width: 50%;
    }

    &__title {
        font-size: 2rem;
        padding: 1.5rem 0 1rem 1rem;
        font-weight: 600;
        margin: 0;
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 3.5rem;
        padding: 1.5rem 0 1rem 1rem;

    }

    &__image {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
        top: 1rem;
        left: 0.7rem;
    }

    &__box{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    &__label {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        color: $primary-color-silver;
    }

    &__text {
        font-family: 'AvenirNextLTPro', sans-serif;
        height: 2.25rem;
        padding: .75rem;
        border-radius: .25rem;
        width: 100%;
        margin: .25rem 0 2.25rem 0;
        border-radius: 4px;


    }

    &__message {
        font-family: 'AvenirNextLTPro', sans-serif;
        height: 8rem;
        padding: .75rem;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        border-radius: 4px;
        resize: none;

    }

    &__error{
        border: 1px solid  #D22D2D;
}

    &__button {
        font-size: 1rem;
        padding: .75rem;
        background-color: $primary-color-black;
        border-radius: .25rem;
        border: none;
        outline: none;
        text-decoration: none;
        height: 2.5rem;
        color: $primary-color-white;
        width: 100%;

        @include tablet{
            width: 9.375rem;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
        }

        &--link:hover{
            background-color: $secondary-color-darkblack;
        
        }

    }
}

.comments {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding: 1.5rem 0 1rem 1rem;
    margin-right: 2.5rem;

    @include tablet{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    &__container {
        width: 100%;
        padding: 1.5rem 0 1rem 1rem;

    }

    &__box{
        width: 100%;
        border-bottom: 1px solid $secondary-color-mercury;

    }

    &__avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        float: left;
        position: relative;
        top: 0.5rem;
        left: -0.5rem;
        background-color: $secondary-color-mercury;

    }

    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;

    }

    &__title{
        font-size: 1rem;
        font-weight: 600;
        color: $primary-color-black;

    }

    &__date{
        font-size: 1rem;
        font-weight: 400;
        color: $primary-color-silver;
    }

    &__text{
        font-size: 1rem;
        font-weight: 400;
        color: $primary-color-black;
        padding-left: 2.5rem;
        padding-bottom: 1.5rem;


    }

}
