@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro", sans-serif;
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    margin-right: 5rem;
  }
}
.nav__logo {
  height: 1.25rem;
  width: 7.5rem;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    margin: 2.25rem 2.25rem 2.25rem 5rem;
  }
}
.nav__list {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100vw;
  text-decoration: none;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 19vw;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    width: 21vw;
    gap: 4rem;
  }
}
.nav__item {
  font-weight: 400;
  list-style-type: none;
  width: 100vw;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__item {
    padding: 2.25rem 0 2.25rem 0;
    display: flex;
    justify-content: space-evenly;
  }
}
.nav__item--active {
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.7rem;
  font-weight: 600;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__item--active {
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__item--active {
    padding-bottom: 2.25rem;
  }
}
.nav__link {
  color: #FFFFFF;
  text-decoration: none;
  list-style-type: none;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    position: relative;
    padding: 2.25rem 2.25rem 2.25rem 5rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__social {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
  }
}
.footer__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: none;
  }
}
.footer__box {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__boxtitle {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__boxtitle {
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.footer__icons {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__bandlogo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__bandlogo {
    display: flex;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    gap: 1.8rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}
.footer__name {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer__address {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__email {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer__booking {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logoimage {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logoimage {
    display: none;
  }
}
.footer__logo {
  width: 7.5rem;
  height: 1.25rem;
}
.footer__copyright {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/Images/hero-shows.jpg);
  height: 30rem;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 39rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 50rem;
    flex-direction: row;
  }
}
.banner__overlay {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 30rem;
  background-color: #323232;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .banner__overlay {
    height: 39rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__overlay {
    height: 50rem;
  }
}
.banner__box {
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .banner__box {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__box {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
.banner__subtitle {
  color: #FFFFFF;
  max-width: 80%;
  font-size: 1.5rem;
  margin: 1rem;
  z-index: 999;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .banner__subtitle {
    padding: 2rem 0 0 1rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__subtitle {
    margin-top: 8rem;
    margin-left: 6rem;
    font-size: 2rem;
  }
}
.banner__title {
  color: #FFFFFF;
  max-width: 80%;
  font-size: 3rem;
  margin: 0.5rem;
  z-index: 999;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 4rem;
    margin-left: 2.7rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__title {
    margin-left: 6.6rem;
  }
}
.banner__music {
  z-index: 999;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .banner__music {
    width: 50%;
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__music {
    margin-right: 3rem;
    margin-top: 18rem;
    width: 40%;
  }
}

.shows {
  margin: 0;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    margin: 1rem 2rem 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    margin: 1rem 2rem 0 2rem;
  }
}
.shows__header {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .shows__content {
    margin-left: 12rem;
  }
}
.shows__label {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__label {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
  }
}
.shows__title {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__title {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    color: #AFAFAF;
  }
}
.shows__event {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .shows__event {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__event {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
.shows__event--link:hover {
  background-color: #FAFAFA;
}
.shows__event--link:selected {
  background-color: #E1E1E1;
}
.shows__box {
  padding: 0 2rem 0 2rem;
}
@media screen and (min-width: 768px) {
  .shows__box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}
.shows__subtitle {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 0.7rem;
  font-weight: 600;
  color: #AFAFAF;
}
.shows__details {
  padding: 0 0 0.5rem 0;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .shows__details {
    margin: 0;
  }
}
.shows__details--date {
  font-weight: 600;
}
.shows__button {
  text-align: center;
  background-color: #323232;
  border: 0;
  border-radius: 0.5rem;
  height: 40px;
  width: 100%;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 30%;
  }
}
.shows__button--link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 2rem 0 2rem;
  font-size: 1.5rem;
}
.shows__text {
  color: #FFFFFF;
  line-height: 40px;
  box-sizing: content-box;
}/*# sourceMappingURL=shows.css.map */