@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;


.banner{
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-image: url(../assets/Images/hero-shows.jpg);
    height: 18rem;
    background-size: cover;
    background-position: center;

    @include tablet {
        display: flex;
        flex-direction: column;
        // align-items: center;
        background-image: url(../assets/Images/hero-shows.jpg);
        height: 30rem;
        background-size: cover;
        background-position: center;
    }

    @include desktop {
        display: flex;
        flex-direction: column;
        // align-items: center;
        background-image: url(../assets/Images/hero-shows.jpg);
        height: 50rem;
        background-size: cover;
        background-position: center;
    }

    &__overlay{
        position: absolute;
        padding: 0;
        width: 100%;
        height: 18rem;
        background-color: $primary-color-black;
        background-size: cover;
        background-position: center;
        opacity: .5;

        @include tablet {
            position: absolute;
            padding: 0;
            width: 100%;
            height: 30rem;
            background-color: $primary-color-black;
            background-size: cover;
            background-position: center;
            opacity: .5;
        }

        @include desktop {
            position: absolute;
            padding: 0;
            width: 100%;
            height: 50rem;
            background-color: $primary-color-black;
            background-size: cover;
            background-position: center;
            opacity: .5;
        }
    }

    &__subtitle{
        color: $primary-color-white;
        font-size: 1.5rem;
        padding: 2rem 0 0 1rem;
        margin: 0;
        z-index: 999;
        font-weight: 600;


    }

    &__title{
        color: $primary-color-white;
        font-size: 3rem;
        padding: 2rem 0 0 1rem;
        margin: 0;
        z-index: 999;
        font-weight: 700;


    }

    &__music{
        display: none;
        margin-left: 1rem;
        margin-right: 3rem;


    }
}

.shows{
    margin: 0;
    padding: 0;

    &__title{
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem 2rem 0 2rem;
        margin: 0;
    }

    &__event{
        padding-bottom: 1rem;
    }


    &__box{
        padding: 0 2rem 0 2rem;
    }

    &__subtitle{
        font-size: .7rem;
        font-weight: 600;
        color: $primary-color-silver;
    }

    &__date{
        font-weight: 600;
    }

    &__button{
        text-align: center;
        background-color: $primary-color-black;
        border: 0;
        border-radius: .5rem;
        margin: 0 2rem 0 2rem;
        padding: .625rem 2.5rem .625rem 2.5rem; 

        &--link{
            text-decoration: none;
            color: $primary-color-white;
            padding: 0 2rem 0 2rem;
            font-size: 1.5rem;

        }

    }
}