@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;


.banner{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Images/hero-shows.jpg);
    height: 30rem;
    background-size: cover;
    background-position: center;

    @include tablet {
        height: 39rem;
    }

    @include desktop {
        height: 50rem;
        flex-direction: row;

    }

    &__overlay{
        position: absolute;
        padding: 0;
        width: 100%;
        height: 30rem;
        background-color: $primary-color-black;
        background-size: cover;
        background-position: center;
        opacity: .5;

        @include tablet {
            height: 39rem;

        }

        @include desktop {
            height: 50rem;

        }
    }

    &__box{
        z-index: 999
        ;
        @include desktop{
            display: flex;
            flex-direction: column;
            width: 60%;
        }
    }

    &__subtitle{
        color: $primary-color-white;
        max-width: 80%;
        font-size: 1.5rem;
        margin: 1rem;
        z-index: 999;
        font-weight: 600;

        @include tablet{
            padding: 2rem 0 0 1rem;

        }

        @include desktop{
            margin-top: 12rem;
            margin-left: 6rem;
            font-size: 2rem;
        }

    }


    &__title{
        color: $primary-color-white;
        max-width: 80%;
        font-size: 3rem;
        margin: .5rem;
        z-index: 999;
        font-weight: 700;

        @include tablet{
            font-size: 4rem;
            margin-left: 6rem;
            
        }


    }

    &__music{
        z-index: 999;
        margin: 1rem;

        @include tablet{
            width: 50%;

        }
        
        @include desktop{
            margin-right: 3rem;
            margin-top: 18rem;
            width: 40%;
        }

    }
}

.shows{
    margin: 0;
    padding: 0;

    @include tablet{
        margin: 1rem 2rem 0 2rem;

    }

    @include desktop {
        margin: 1rem 2rem 0 2rem;
    }

    &__header{
        font-size: 2rem;
        font-weight: 600;
    }

    &__label{
        display: none;

        @include tablet{
            display: flex;
            justify-content: flex-start;
            gap: 5rem;
        }

    }

    &__title{
        display: none;

        @include tablet{
            display: flex;
            font-size: 1rem;
            font-weight: 600;
            color: $primary-color-silver;
        }
    }

    &__container{
        border-bottom: 1px solid $secondary-color-mercury;

        @include tablet{
            
        }
    }

    &__event{
        padding: 1rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

        }

        &--link:hover{
            background-color: $secondary-color-alabaster;
        }

        &--link::selection{
            background-color: $secondary-color-mercury;
        }
    }


    &__box{
        padding: 0 2rem 0 2rem;

        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
    }

    &__subtitle{
        font-size: .7rem;
        font-weight: 600;
        color: $primary-color-silver;

        @include tablet{
            display: none;
        }
    }

    &__details{
        font-weight: 400;

        @include tablet{
            margin: 0;
        }

        &--date{
            font-weight: 600;
        }
    }

    &__button{
        font-size: .5rem;
        text-align: center;
        background-color: $primary-color-black;
        border: 0;
        border-radius: .5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem; 

        @include tablet {
            
        }

        &--link{
            text-decoration: none;
            color: $primary-color-white;
            padding: 0 2rem 0 2rem;
            font-size: 1.5rem;

        }

    }
}